html,
body {
  margin: 0;
  padding-right: 0;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
.button {
  position: fixed;
  width: 63px;
  height: 43px;
  border-radius: 5%;
  text-align: center;
  margin-right: -4%;
  margin-left: 96%;
  border: 2px solid black;
}

.button:hover {
  transition: 0.2s;
  background-color: #dc7920;
  box-shadow: inset 1px 1px 1px 1px #757575, inset 1px -1px 1px 1px #545454;
}

.top {
  /* box-shadow: inset 5px 5px 5px 4px rgb(196, 191, 191, 0.5); */
  background-color: #dc7920;
  width: 100%;
  margin: 0 auto;
}
.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 100px;
  margin-left: 4%;
  transition: all 0.5s;
}

.logo:hover {
  filter: invert(50%);
}
.contact {
  margin-right: 4%;
}
.contact-staff {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: monospace;
}

.contact-staff li:nth-child(1) {
  font-size: 1.1em;
  line-height: 200%;
  color: rgb(34, 32, 32);
}

.contact-staff li:nth-child(2) {
  font-size: 1.1em;
  line-height: 200%;
  color: rgb(34, 32, 32);
}

.contact-staff li:nth-child(3) {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 200%;

  color: rgb(34, 32, 32);
}

.contact-staff li:nth-child(4) {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 200%;
  color: rgb(34, 32, 32);
}

.contact-staff li a {
  text-decoration: none;
  color: rgb(34, 32, 32);
}

.contact-staff li a:hover {
  color: white;
}

.container-navi {
  /* box-shadow: inset -5px 5px 5px 4px rgb(196, 191, 191, 0.5); */
  background-color: #545454;
  margin: 0 auto;
}

.container-navi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list > li > a:hover div {
  transform: scale(1.25);
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.8;
}
/* .mosaic-one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
} */

.menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.menu-one {
  display: flex;
  background-image: url(../images/zot-o-nas.webp);
  background-repeat: no-repeat;
  border: 1px solid black;
  width: 320px;
  height: 230px;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

.link {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: -1px 1px black;
}

a:hover {
  color: #dc7920;
}
/* .mosaic-two {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
} */

.menu-two {
  display: flex;
  background-image: url(../images/zot-oferta.webp);
  background-repeat: no-repeat;
  border: 1px solid black;
  width: 320px;
  height: 230px;
  align-items: center;
  justify-content: center;
}

/* .mosaic-three {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
} */

.menu-three {
  display: flex;
  background-image: url(../images/zot-aktualnosci.webp);
  background-repeat: no-repeat;
  border: 1px solid black;
  width: 320px;
  height: 230px;
  align-items: center;
  justify-content: center;
}

/* .mosaic-four {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
} */

.menu-four {
  display: flex;
  background-image: url(../images/zot-kontakt.webp);
  background-repeat: no-repeat;
  border: 1px solid black;
  width: 320px;
  height: 230px;
  align-items: center;
  justify-content: center;
}

.middle {
  /* box-shadow: inset -5px 5px 5px 5px rgb(196, 191, 191, 0.5); */
  background: radial-gradient(
    circle at bottom,
    #757575 30%,
    #545454 35%,
    #545454 65%,
    #757575 70%
  );
  margin: 0 auto;
  padding-bottom: 3%;
}

.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baner {
  display: flex;
  align-items: center;
  margin-top: 6%;
  /* box-shadow: 1px 1px 1px 2px white; */
}
/* .commentary {
  margin-top: 3%;
}

.commentary_clients-opinion {
  color: white;

  margin: 3%;
  text-align: center;
  font-size: 2em;
}
.comments-windows {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.first-window {
  width: 20%;
  height: 9%;
  padding: 2.75%;
  margin-top: 5%;
  background-color: white;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 4px black;
}
.first-window_opinion {
  font-size: 1.1em;
}
.second-window {
  width: 20%;
  height: 10%;
  padding: 4%;
  margin-top: 5%;
  background-color: white;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 4px black;
}
.second-window_opinion {
  font-size: 1.1em;
}
.third-window {
  width: 20%;
  height: 10%;
  padding: 6%;
  margin-top: 5%;
  background-color: white;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 4px black;
}
.third-window_opinion {
  font-size: 1.1em;
} */
.text {
  font-size: 1.5em;
  line-height: 1.6;
  color: white;
  text-align: left;
  padding: 3% 3%;
  margin: 0 auto;
  overflow: hidden;
}

.reveal {
  opacity: 0;
}
.reveal.active {
  opacity: 1;
  animation: fade-right 2s ease-in;
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.text-visit {
  font-size: 1.5em;
  line-height: 1.6;
  color: white;
  text-align: center;
  padding: 7% 0;
  margin: 0 auto;
}

.text::first-letter {
  font-size: larger;
}

.head-h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 2%;

  text-shadow: 2px 2px black;
}

.head-h2 {
  font-size: 2.3em;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 3%;
  /* padding-bottom: 2%; */
  text-shadow: 2px 2px black;
}

.head-h3 {
  font-size: 2.1em;
  font-weight: bold;
  color: white;
  text-align: center;

  text-shadow: 1px 1px black;
}
.head-h4 {
  font-size: 1.9em;
  font-weight: 400;
  color: white;
  text-align: center;
  padding-top: 3%;
  text-shadow: 1px 1px black;
}

.end-site {
  background-image: url(../images/szablon-dol.png);
  background-repeat: repeat-x, repeat-y;
  margin: 0 auto;
  padding: 5%;
  padding-bottom: 9%;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-paragraph {
  font-size: 1em;
}

.localization {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list ul li {
  color: white;
  line-height: 1.6;
}

.offer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.table {
  width: 30%;
  height: 10%;
  text-align: center;
  border-collapse: separate;
  border: 1px groove black;
  box-shadow: 2px 2px 2px 2px #545454;
  font-size: 0.9em;
  background-color: #dc7920;
  font-weight: bold;
  cursor: default;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.table td {
  border: 1px solid black;
}
.table thead:hover {
  background-color: #545454;
}

.table tr:hover {
  background-color: #545454;
}
.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.article-order {
  list-style-type: circle;
}

.article-order li {
  font-size: 1.2em;
}

.article-order li:first-child {
  margin-top: 5%;
}
.article-order li:last-child {
  margin-top: 2%;
}

.text-article {
  font-size: 1.5em;
  line-height: 1.6;
  color: white;
  text-align: left;
  padding: 0% 3%;
  margin: 0 auto;
}
.text-article::first-letter {
  font-size: larger;
}
.middle-article {
  /* box-shadow: inset -5px 5px 5px 5px rgb(196, 191, 191, 0.5); */
  background: radial-gradient(
    circle at bottom,
    #757575 20%,
    #545454 45%,
    #545454 65%,
    #757575 85%
  );
  margin: 0 auto;
  padding-bottom: 3%;
}

.adnotation {
  font-style: italic;
  font-size: 0.7em;
}
.contact-site {
  margin: 0 auto;
}
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-contact {
  font-size: 1.5em;
  line-height: 1.6;
  text-align: center;
  padding: 6%;
  color: white;
  list-style-type: none;
}

.list-contact li:nth-child(2) {
  margin-top: 2%;
}
.list-contact li:last-child {
  margin-top: 2%;
  margin-bottom: 2%;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mp {
  width: 80vw;
  height: 40vh;
}

.text-offer {
  font-size: 1.5em;
  line-height: 1.6;
  color: white;
  text-align: left;
  padding: 1% 3%;
  margin: 0 auto;
}
.header_burger-menu {
  display: none;
}
.d-none {
  display: none;
}
.seen,
.unseen {
  visibility: hidden;
}
.show,
.hide {
  visibility: hidden;
}

@media screen and (orientation: portrait) {
  .top {
    box-shadow: none;
    background-color: #dc7920;
    width: 100%;
    margin: 0 auto;
  }
  .contact-staff li:nth-child(3) {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 160%;

    color: rgb(34, 32, 32);
  }

  .contact-staff li:nth-child(4) {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 160%;
    color: rgb(34, 32, 32);
  }
  .button {
    display: none;
    position: fixed;
    width: 63px;
    height: 43px;
    border-radius: 5%;
    text-align: center;
    margin-right: -10%;
    margin-left: 90%;
    border: 1px solid black;
  }

  .top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
  }

  .container-navi {
    display: none;
  }

  .middle {
    box-shadow: none;
  }
  .header_burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #545454;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .header__menu-mobile {
    background-color: #dc7920;
    border: 2px solid black;
    width: 100vw;
    position: relative;
    margin-top: 2%;
  }

  .header__mobile-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3;
    font-weight: 400;
    font-size: 2em;
    color: white;
    position: relative;
  }
  .header__link {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
  }

  .header__mobile-btn {
    background-color: #545454;
    border: none;
    cursor: pointer;
  }

  .d-none {
    display: none;
  }

  .header__exit-btn {
    background-color: #545454;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -15vw;
    right: 2vw;
    display: flex;
  }

  .container-navi {
    display: none;
  }
  .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-one {
    display: flex;
    background-image: url(../images/zot-o-nas-250x170.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 250px;
    height: 170px;
    align-items: center;
    justify-content: center;
  }

  .menu-two {
    display: flex;
    background-image: url(../images/zot-oferta-250x170.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 250px;
    height: 170px;
    align-items: center;
    justify-content: center;
  }

  .menu-three {
    display: flex;
    background-image: url(../images/zot-aktualnosci-250x170.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 250px;
    height: 170px;
    align-items: center;
    justify-content: center;
  }

  .menu-four {
    display: flex;
    background-image: url(../images/zot-kontakt-250x170.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 250px;
    height: 170px;
    align-items: center;
    justify-content: center;
  }

  /* .comments-windows {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-window {
    width: 80%;
    height: 20%;
    padding: 2.75%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px 4px black;
  }

  .second-window {
    width: 80%;
    height: 20%;
    padding: 2.75%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px 4px black;
  }

  .third-window {
    display: none;
  } */
  .write_article {
    position: relative;
    padding-bottom: 13%;
  }

  .frame {
    width: 100vw;
    height: 15vw;
    position: absolute;
    bottom: 0;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 1em;
  }
  .show:target ~ .blur {
    display: none;
  }
  .blur {
    background: repeating-linear-gradient(
      -45deg,
      #757575 0,
      #75757500 75%,
      transparent 0,
      transparent 25%
    );
    width: 100%;
    height: 100px;
    margin-top: -100px;
    position: relative;
  }

  .show,
  .hide {
    z-index: 5;
    text-align: center;
  }

  .show,
  .hide {
    visibility: visible;
  }
  .show:target {
    display: none;
  }
  .hide {
    display: none;
  }

  .show:target ~ .hide {
    display: block;
  }
  .show:target ~ .article_container {
    max-height: 100%;
  }

  .article_container {
    max-height: 100px;
    overflow: hidden;
  }

  .write_article-ecology {
    position: relative;
    padding-bottom: 13%;
  }
  .eco {
    width: 100vw;
    height: 15vw;
    position: absolute;
    bottom: 0;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 1em;
  }
  .seen:target ~ .blur {
    display: none;
  }
  .seen,
  .unseen {
    z-index: 5;
    text-align: center;
  }

  .seen,
  .unseen {
    visibility: visible;
  }
  .seen:target {
    display: none;
  }
  .unseen {
    display: none;
  }

  .seen:target ~ .unseen {
    display: block;
  }
  .seen:target ~ .ecology_text {
    max-height: 100%;
  }

  .ecology_text {
    max-height: 100px;
    overflow: hidden;
  }

  .link {
    font-size: 2em;
    font-weight: bold;
    text-shadow: -1px 1px black;
  }
  .thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-paragraph {
    font-size: 1.5em;
  }

  .localization {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text {
    font-size: 1.5em;
    line-height: 1.8;
    color: white;
    text-align: center;
    padding: 3% 3%;
    margin: 0 auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 1023px) {
  .container-navi {
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .menu-one {
    display: flex;
    background-image: url(../images/zot-praca-przy-pudelkach.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .menu-two {
    display: flex;
    background-image: url(../images/zot-opakowania.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .menu-three {
    display: flex;
    background-image: url(../images/zot-rece-tnace-tekture.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .menu-four {
    display: flex;
    background-image: url(../images/zot-uscisk-dloni.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }
  /* .comments-windows {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first-window {
    width: 80%;
    height: 20%;
    padding: 2.75%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px 4px black;
  }

  .second-window {
    width: 80%;
    height: 20%;
    padding: 2.75%;
    margin-top: 5%;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 2px 4px black;
  }
  .third-window {
    display: none;
  } */
  .write_article {
    position: relative;
    padding-bottom: 13%;
  }

  .frame {
    width: 50vw;
    height: 8vw;
    position: absolute;
    bottom: 2em;
    right: 25vw;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 1em;
  }
  .show:target ~ .blur {
    display: none;
  }
  .blur {
    background: repeating-linear-gradient(
      -45deg,
      #757575 0,
      #75757500 75%,
      transparent 0,
      transparent 25%
    );
    width: 100%;
    height: 100px;
    margin-top: -100px;
    position: relative;
  }

  .show,
  .hide {
    z-index: 5;
    text-align: center;
  }

  .show,
  .hide {
    visibility: visible;
  }
  .show:target {
    display: none;
  }
  .hide {
    display: none;
  }

  .show:target ~ .hide {
    display: block;
  }
  .show:target ~ .article_container {
    max-height: 100%;
  }

  .article_container {
    max-height: 100px;
    overflow: hidden;
  }

  .write_article-ecology {
    position: relative;
    padding-bottom: 13%;
  }
  .eco {
    width: 50vw;
    height: 8vw;
    position: absolute;
    bottom: 2em;
    right: 25vw;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 1em;
  }
  .seen:target ~ .blur {
    display: none;
  }
  .seen,
  .unseen {
    z-index: 5;
    text-align: center;
  }

  .seen,
  .unseen {
    visibility: visible;
  }
  .seen:target {
    display: none;
  }
  .unseen {
    display: none;
  }

  .seen:target ~ .unseen {
    display: block;
  }
  .seen:target ~ .ecology_text {
    max-height: 100%;
  }

  .ecology_text {
    max-height: 100px;
    overflow: hidden;
  }
  .thumb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .phone {
    margin-top: 4%;
  }
  .localization {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .middle {
    box-shadow: none;
  }

  .mail {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  .container-navi {
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .menu-one {
    display: flex;
    background-image: url(../images/zot-praca-przy-pudelkach.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .menu-two {
    display: flex;
    background-image: url(../images/zot-opakowania.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .menu-three {
    display: flex;
    background-image: url(../images/zot-rece-tnace-tekture.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .menu-four {
    display: flex;
    background-image: url(../images/zot-uscisk-dloni.webp);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 450px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  .thumb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .localization {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mail {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_burger-menu {
    display: none;
  }
  .d-none {
    display: none;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1279px) {
  .container-navi {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
  }

  .header_burger-menu {
    display: none;
  }
  .d-none {
    display: none;
  }
  .button {
    width: 60px;
    height: 40px;
    border-radius: 5%;
    text-align: center;
    margin-right: -5%;
    margin-left: 95%;
    border: 1px solid black;
  }
}
